.share-link {
  height: 32px;
  width: 32px;
  display: inline-block;
}

.share-link-facebook {
  background: transparent url("./social_icons/facebook.png") no-repeat center center;
}

.share-link-googleplus {
  background: transparent url("./social_icons/googleplus.png") no-repeat center center;
}

.share-link-linkedin {
  background: transparent url("./social_icons/linkedin.png") no-repeat center center;
}

.share-link-twitter {
  background: transparent url("./social_icons/twitter.png") no-repeat center center;
}

.share-link-whatsapp {
  background: transparent url("./social_icons/whatsapp.png") no-repeat center center;
}
