<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div id="container">
      {{{content}}}
    </div>
    {{#js}}<script type="text/javascript">{{{.}}}</script>{{/js}}
  </body>
</html>
